
.font-mc {
    font-family: "Times New Roman", Times, serif;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.836);
}
.rounded-corners-yey {
  border-radius: 5px;
}


.juju {
  height: 300px;
  position: center;
  justify-content: center;
  display: flex;
  align-items: flex-end;
}
